<!DOCTYPE html>
<html>
<head>
	<link href="/assets/style.css" rel="stylesheet" />
</head>
<body>
	{% include "ps-sidebar.njk" %}
	{% include "ps-editor.njk" %}
	{% include "ps-viewer.njk" %}
</body>
</html>
