<style>
ps-logo {
	display: block;
	padding-block: var(--spacing-200) var(--spacing-100);

	h1 {
		margin: 0;
		font-weight: var(--font-weight-heavy);
		font-size: var(--font-size-200);

	}
}
</style>

<ps-logo>
	<h1>PostSpy</h1>
</ps-logo>
